In [72]:
import pandas as pd
import shortuuid

In [2]:
urls = ['https://www.espn.com.co/futbol/posiciones/_/liga/esp.1',
        'https://www.espn.com.co/futbol/posiciones/_/liga/ita.1',
        'https://www.espn.com.co/futbol/posiciones/_/liga/eng.1',
        'https://www.espn.com.co/futbol/posiciones/_/liga/ger.1',
        'https://www.espn.com.co/futbol/posiciones/_/liga/fra.1',
        'https://www.espn.com.co/futbol/posiciones/_/liga/por.1',
        ]

ligas = [ 'Spain', 'Italy', 'England', 'Germany', 'France', 'Portugal']

df_ligas = {
    'Liga': ligas, 
    'url': urls
}

In [104]:
df_ligas.to_csv('df_leagues.csv', index=False)

In [3]:
df_ligas = pd.DataFrame(df_ligas)
ita = df_ligas['url'][1]

In [25]:
df_ita = pd.read_html(df_ligas['url'][1])

In [26]:
df_ita_complete = pd.concat([df_ita[0], df_ita[1]], axis=1)
df_ita_complete

             2022-2023   J   G   E   P  GF  GC  DIF  PTS
0           1NAPNapoli  38  28   6   4  77  28   49   90
1            2LAZLazio  38  22   8   8  60  30   30   74
2   3INTInternazionale  38  23   3  12  71  42   29   72
3         4MILAC Milan  38  20  10   8  64  43   21   70
4         5ATAAtalanta  38  19   7  12  66  48   18   64
5          6ROMAS Roma  38  18   9  11  50  38   12   63
6         7JUVJuventus  38  22   6  10  56  33   23   62
7       8FIOFiorentina  38  15  11  12  53  43   10   56
8          9BOLBolonia  38  14  12  12  53  49    4   54
9          10TORTorino  38  14  11  13  42  41    1   53
10          11MONMonza  38  14  10  14  48  52   -4   52
11        12UDIUdinese  38  11  13  14  47  48   -1   46
12       13SASSassuolo  38  12   9  17  47  61  -14   45
13         14EMPEmpoli  38  10  13  15  37  49  -12   43
14    15SALSalernitana  38   9  15  14  48  62  -14   42
15          16LECLecce  38   8  12  18  33  46  -13   36
16         17SPESpezia  38   6  13  19  31  62  -31   31
17  18HELHellas Verona  38   7  10  21  31  59  -28   31
18      19CRECremonese  38   5  12  21  36  69  -33   27
19      20SMPSampdoria  38   3  10  25  24  71  -47   19

In [68]:
df_ita_complete['2022-2023'].apply(lambda x : x[5:] if x[:2].isnumeric() else x[4:])

0             Napoli
1              Lazio
2     Internazionale
3           AC Milan
4           Atalanta
5            AS Roma
6           Juventus
7         Fiorentina
8            Bolonia
9             Torino
10             Monza
11           Udinese
12          Sassuolo
13            Empoli
14       Salernitana
15             Lecce
16            Spezia
17     Hellas Verona
18         Cremonese
19         Sampdoria
Name: 2022-2023, dtype: object

In [87]:
df_ita_complete['2022-2023']

0     SNqiQH2muBqfNTQaEbfn4m
1     mVWniRxdtW3YsRx98CZCuy
2     SLo22aAECfcim2fyLMbePj
3     gJTnKdQfNUVVdZsUdEeESL
4     4839DPLDmp39qQTfsfempn
5     8gQxxKF2T6vUrBBhkDbFS5
6     cRhQNKbLgXseP37GVCzswu
7     WPtHknLcoXxr4HCfZJtEom
8     LDjnYmw2tRDv9SWUQEZbfS
9     cd5XruVxZgVvtpzEwqkmcG
10    H9YcQLSwLJ82YiZU3LyGzM
11    SyZo72xxB53s6hyAsEcpDA
12    dmpFdm6G5qmMRNFhPZxfuf
13    oWnqFyhQB3EdvNMb3BLCZ6
14    g6k8uwfNNqFWgi2WFaF2bQ
15    nn2GtVq9Hfyb3bCHMafdqA
16    bgznT4NNPRDZWGF4CaVbMW
17    J4rxg48RKTzuW3zWjNG5hG
18    BHZGQsa4ZTFM9PMopYqUXm
19    8KdoBxFUiPysn86pkvpP2q
Name: 2022-2023, dtype: object

In [105]:
soccer_col_names = ['Team','G','W','D','L','GS','GC','DIF','PTS']


def get_soccer_df(df_ligas, soccer_col_names, ligas):
    df_list = []
    for row in range(len(df_ligas)):
        df = pd.read_html(df_ligas['url'][row])
        df = pd.concat([df[0], df[1]], axis=1, ignore_index=True)
        df[0] = df[0].apply(lambda x : x[5:] if x[:2].isnumeric() else x[4:])
        df.columns = soccer_col_names
        df['League'] = ligas[row]
        df_list.append(df)
    return df_list

In [106]:
df_list = get_soccer_df(df_ligas, soccer_col_names, ligas)

In [118]:
df_list[2]['Team']

0             Manchester City
1                     Arsenal
2           Manchester United
3            Newcastle United
4                   Liverpool
5      Brighton & Hove Albion
6                 Aston Villa
7           Tottenham Hotspur
8                   Brentford
9                      Fulham
10             Crystal Palace
11                    Chelsea
12    Wolverhampton Wanderers
13            West Ham United
14            AFC Bournemouth
15          Nottingham Forest
16                    Everton
17             Leicester City
18               Leeds United
19                Southampton
Name: Team, dtype: object

In [133]:
team_df = pd.DataFrame(columns=['Team','Team_id'])
for league in df_list:
    new_df = pd.DataFrame(columns=['Team','Team_id'])
    new_df['Team'] = league['Team'].copy(deep=True)
    new_df['Team_id'] = new_df['Team'].apply(lambda x: shortuuid.uuid(x))
    new_df['Team_id'] = new_df['Team_id'].str.slice(start=0, stop=8)
    team_df = pd.concat([team_df,new_df ], axis=0, ignore_index=True)
    
team_df

                  Team   Team_id
0            Barcelona  28Lap3gH
1          Real Madrid  CHn36FwD
2      Atlético Madrid  4f2vLvji
3        Real Sociedad  KnTGJWSP
4           Villarreal  SFYnA7re
..                 ...       ...
111            Estoril  7dQu9k2s
112      OPortimonense  5HTqgXbg
113           Maritimo  kwxNFPQe
114  Paços de Ferreira  SBjtmft2
115        Santa Clara  T6QZpoE6

[116 rows x 2 columns]

In [134]:
team_df.to_csv('df_teams.csv', index=False)

In [107]:
df_list[2]

                       Team   G   W   D   L  GS  GC  DIF  PTS   League
0           Manchester City  38  28   5   5  94  33   61   89  England
1                   Arsenal  38  26   6   6  88  43   45   84  England
2         Manchester United  38  23   6   9  58  43   15   75  England
3          Newcastle United  38  19  14   5  68  33   35   71  England
4                 Liverpool  38  19  10   9  75  47   28   67  England
5    Brighton & Hove Albion  38  18   8  12  72  53   19   62  England
6               Aston Villa  38  18   7  13  51  46    5   61  England
7         Tottenham Hotspur  38  18   6  14  70  63    7   60  England
8                 Brentford  38  15  14   9  58  46   12   59  England
9                    Fulham  38  15   7  16  55  53    2   52  England
10           Crystal Palace  38  11  12  15  40  49   -9   45  England
11                  Chelsea  38  11  11  16  38  47   -9   44  England
12  Wolverhampton Wanderers  38  11   8  19  31  58  -27   41  England
13          West Ham United  38  11   7  20  42  55  -13   40  England
14          AFC Bournemouth  38  11   6  21  37  71  -34   39  England
15        Nottingham Forest  38   9  11  18  38  68  -30   38  England
16                  Everton  38   8  12  18  34  57  -23   36  England
17           Leicester City  38   9   7  22  51  68  -17   34  England
18             Leeds United  38   7  10  21  48  78  -30   31  England
19              Southampton  38   6   7  25  36  73  -37   25  England